[submodule "core"]
	path = core
	url = git@github.com:neostronghold/core.git
	branch = main
[submodule "inspiration/frontend"]
	path = inspiration/frontend
	url = git@github.com:neoparadise/citadelevolve-frontend.git
[submodule "inspiration/openclaw"]
	path = inspiration/openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "inspiration/opencode"]
	path = inspiration/opencode
	url = https://github.com/opencode-ai/opencode.git
[submodule "os"]
	path = os
	url = git@github.com:neostronghold/os.git
	branch = main
[submodule "web"]
	path = web
	url = git@github.com:neostronghold/web.git
	branch = main
[submodule "app"]
	path = app
	url = git@github.com:neostronghold/app.git
	branch = dev
